@charset "UTF-8";

html{
    font-size: 62.5%;
}

body{
    color: #333;
    font-size: 1.2rem;
    font-family: 'Sawarabi Gothic', 'Noto Sans JP', Meiro, sans-serif, 'Hiragino Kaku Gothic ProN';
    background-color: white;
}

*, *::before, *::after {
	box-sizing: border-box;
}

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #303030;
}







header {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	background-color: #ffffff;
	position: absolute;
	z-index: 1;
}

header ul li {
	display: flex;
	margin-left: 40px;
	height: 50px;
}

.header_link {
	display: flex;
	flex-direction: row;
	width: auto;
	height: 50%;
	text-align: right;
	padding: 0 50px 0 0;
	margin: 12px 0 12px 0;
}

.header_link li {
	height: 100%;
	padding: 5px 15px;
	font-size: 1.2rem;
	position: relative;
}

.header_link li a::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0.5px;
	bottom: -0.7px;
	background: gray;
	transition: 0.15s;
}

.header_link li a:hover::after {
	width: 100%;
}

.header_logo {
	display: flex;
	flex-direction: row;
	width: auto;
	align-items: center;
	vertical-align: middle;
	height: 50px;
}

.header_logo li {
	vertical-align: middle;
	height: 30px;
}

.header_logo a {
	height: 50px;
}

.header_logo img {
	height: 30px;
}










.HP-description {
    display: block;
    width: 100%;
    min-height: 100vh;
    background-image: url("../image/gery-wibowo-Eti6ph51H4A-unsplash.jpg");
    backdrop-filter: blur(12px);
	opacity: 0.8;
    background-position: center;
    background-size: cover;
}

.HP-description:before {
	content: '';
	background: inherit;
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	bottom: 5px;
	z-index: -1;
}

.toptheme {
    padding: 300px 0 100px 100px;
}

.code001 {
    display: block;
    font-size: 5rem;
    font-family: 'Playfair Display';
    color: white;
    letter-spacing: 10px;
}

.code002 {
    color: white;
    padding-left: 60px;
    font-size: 2.5rem;
    font-family: 'Josefin Sans';
    padding-bottom: 30px;
    letter-spacing: 2px;
}







.about {
	padding: 100px;
}

.about-theme {
	display: flex;
}

.ja {
	letter-spacing: 0.5rem;
	font-size: 3.5rem;
	writing-mode: vertical-rl;
	margin-left: 10px;
	font-family: 'Noto Serif JP';
}

.en {
	letter-spacing: 0rem;
	font-size: 1.75rem;
	writing-mode: vertical-rl;
	margin-top: 30px;
	font-family: 'Noto Serif JP';
}

.about-content {
	margin-top: 35px;
	padding-left: 200px;
	font-size: 1.5rem;
	line-height: 2.5rem;
	font-family: 'Noto Serif JP';

}

.about-content div {
	margin-top: 30px;
	animation-name: smoothAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.about-sum {
	margin-top: 55px;
	font-family: 'Noto Serif JP';
	text-align: right;
}

.about-sum .bold {
	font-weight: 600;
	font-size: 3rem;
	line-height: 6rem;
}

.about-sum .medium {
	font-weight: 400;
	color: black;
	font-size: 1.5rem;
	
}

.about.right {
	text-align: right;
	background-color:#353535;
	color: white;
}

.about-theme.right {
	justify-content: flex-end;
}

.about-content.right {
	justify-content: flex-end;
	padding-right: 200px;
	padding-left: 0;
}

.about-sum.right {
	text-align: left;
}

.about.right .medium {
	color: #bbbbbb;
}








.SNSlink {
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.SNSlink a {
	margin: 0 25px;
}









footer {
	padding: 20px;
	text-align: center;
	background: #fff;
}










@media (max-width:1000px) {

	.about-content {
	padding-left: 100px;
	}
	
	.about-content.right {
		padding-right: 100px;
	}

}


@media (max-width:860px) {

    .code001 {
        text-align: center;
    }
    
    .toptheme {
        padding-left: 0;
    }

    .code002 {
        font-size: 1.7rem;
    }

}


@media (max-width:700px) {
	
	.header_link {
		display: none;
	}
	
	.about-content {
		padding-left: 0;
	}
	
	.about-content.right {
		padding-right: 0;
	}
	
	.about {
		padding-right: 60px;
		padding-left: 60px;
	}
	
}


@media (min-width:700px) {
	
	header .openbtn {
		display: none;
	}

}


@media (max-width:550px) {
	
	.about-sum .bold {
		font-size: 2.5rem;
	}
	
	.about-sum .medium {
		font-size: 1.5rem;
	}
	
}


@media (max-width:500px) {

    .code001 {
        font-size: 4rem;

    }

    .code002 {
        font-size: 1.5rem;
        padding-left: 10%;
		padding-right: 10%;
    }

}



@media (max-width:450px) {
	
	.about-sum .bold {
		font-size: 2rem;
	}
	
	.about-sum .medium, .about-content {
		font-size: 1.3rem;
	}
	
	.about {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.SNSlink a {
		margin: 0 10px;
	}
	
}












*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
    overflow: hidden;
    padding: 1.5rem 6rem;
    color: #fff;
    border-radius: 0;
    background: #000;
  }
  
  a.btn-flat span {
    position: relative;
  }
  
  a.btn-flat::before {
    position: absolute;
    top: 0;
    left: 30px;
    width: 150%;
    height: 500%;
    content: '';
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
    transform: translateX(-98%) translateY(-70%) rotate(135deg);
}

.btn.btn-flat.math::before {
    background: steelblue;
}

.btn.btn-flat.physics::before {
    background: yellowgreen;
}

.btn.btn.btn-flat.chemistry::before {
    background: tomato;
}

.btn.btn-flat.english::before {
    background: pink;
}

a.btn-sns {
  font-size: 2.4rem;
  line-height: 50px;

  width: 50px;
  height: 50px;
  padding: 0;

  letter-spacing: 0;

  color: #fff;
  border-radius: 50%;
}

a.btn-sns:hover {
  color: #fff;
}

a.btn-sns--facebook {
  background: #1877f2;
}

a.btn-sns--twitter {
  background: #1da1f2;
}

a.btn-sns--instagram {
  background: #d6249f;
  background: -webkit-linear-gradient(45deg, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: linear-gradient(45deg, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

a.btn-sns--youtube {
  background: #cd201f;
}







.openbtn{
	position: relative;
	background:white;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
	z-index: 501;
	transition: 0.1s;
	margin-right: 20px;
}

.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
  }

.openbtn span:nth-of-type(1),
.openbtn span:nth-of-type(3) {
    height: 2px;
	background: gray;
  	width: 62%;
    left: 10px;
 }

.openbtn span:nth-of-type(1) {
	top:13px;	
}

.openbtn span:nth-of-type(2) {
	top:19px;
	left:11px;
	font-size:0.6rem;
	text-transform: uppercase;
	color: gray;
}

.openbtn span:nth-of-type(3) {
	top:36px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.openbtn.active {
	background: #999;
}

.openbtn.active span:nth-of-type(1),
.openbtn.active span:nth-of-type(3) {
	background: white;
 }








#g-nav{
    position:fixed;
    z-index: 500;
	top:-120%;
    left:0;
	width:100%;
    height: 100vh;
	background:#999;
	transition: all 0.6s;
}

#g-nav.panelactive{
    top: 0;
}

#g-nav.panelactive #g-nav-list{
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#g-nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#g-nav li{
	list-style: none;
    text-align: center; 
	margin-left: 0;
}

#g-nav li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}









.blur{
	animation-name:blurAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
	filter: blur(10px);
	transform: scale(1.02);
	opacity: 0;
  }

  to {
	filter: blur(0);
	transform: scale(1);
	opacity: 1;
  }
}
 
.blurTrigger{
    opacity: 0;
}